// colors
$white: #fefeff;
$persian-green: #1b998b;
$caribbean-green: #3bceac;
$mint-green: #c1ff9b;
$cream: #f5ffc6;
$black: #141414;

$primary: $persian-green;
$secondary: $caribbean-green;
$extra: $mint-green;
$bg: $white;
$bg-alter: $black;
$text: $black;
$text-l: lighten($text, 20%);
$text-alter: $white;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$jost: 'Jost', sans-serif;
$body: $jost;

// variables
$xs: 5px;
$s: 10px;
$m: 20px;
$l: 40px;
$br: 5px;
$border-light: 1px solid lighten($bg-alter, 70%);
$shadow: 0 3px 6px rgba($bg-alter, 0.16), 0 3px 6px rgba($bg-alter, 0.23);
$shadow-light: 0 1px 3px rgba($bg-alter, 0.12), 0 1px 2px rgba($bg-alter, 0.24);

// base styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: $xs;
  background-color: lighten($bg-alter, 90%);
}
::-webkit-scrollbar-thumb {
  background: lighten($bg-alter, 60%);
}

body {
  font-size: 1.4rem;
  letter-spacing: 0.025em;
  font-family: $body;
  background-color: $bg;
  color: $text;
}

h1,
h2 {
  font-size: 3rem;
  color: $text;
}

button {
  outline: none;
  border: none;
  font-family: $body;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  font-size: 1.4rem;
  letter-spacing: 0.025em;
  cursor: pointer;
}

input {
  font-family: $body;
}

a {
  text-decoration: none;
}
