#toast {
  position: relative;

  .error {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $s;
    padding-right: $m;
    background-color: $bg;
    box-shadow: $shadow-light;
    border-radius: $br;
    display: flex;
    align-items: center;
    svg {
      margin-right: $s;
    }
  }

}