@import './shared';
@import './sidebar';
@import './toast';
@import './placeholders';

main {
  height: calc(100vh - 32px); // for the title bar
  padding: $m;
  padding-left: 220px;
  display: flex;
  flex-direction: column;
  .top {
    margin-bottom: $m;
    margin-left: $xs;

    .controls {
      margin: $s 0;
      display: flex;
      align-items: center;
    }

    #sorter {
      height: $s + $m;
      display: flex;
      align-items: center;

      button {
        padding: $xs $s;
        transition: 200ms ease-in-out;
        border-radius: $br;
      }
      button:hover {
        background-color: $primary;
        color: $text-alter;
      }

      button:not(:last-child) {
        margin-right: $s;
      }

      button svg {
        margin-left: $xs;
      }
    }

    .add {
      margin-left: $m;
      display: flex;
      align-items: center;
      input {
        height: $m + $s;
        border: 0;
        outline: none;
        padding: 0 $s;
        border-bottom: $border-light;
      }
      button {
        padding: $xs;
        border-radius: 50%;
        margin-left: $s;
        transition: 200ms ease-in-out;
      }
      button:hover {
        color: $text-alter;
        background-color: $primary;
      }
    }
  }

  #view-holder {
    display: flex;
    max-height: 100%;
    height: 100%;
    overflow: auto;

    .view {
      padding: $xs;
      width: 100%;
      height: fit-content;
      display: grid;
      gap: $m;
      grid-template-columns: repeat(auto-fill, 500px);
    }

    .card {
      max-height: 200px;
      height: 200px;
      border-radius: $br;
      box-shadow: $shadow-light;
      padding-right: $l;
      overflow: hidden;
      display: flex;
      img {
        min-width: 128px;
        width: 128px;
        object-fit: cover;
        margin-right: $s;
      }

      .details {
        display: flex;
        padding: $xs;
        flex-direction: column;
        div:not(:last-child) {
          margin-bottom: $xs;
        }
        div.name {
          font-size: 1.8rem;
          font-weight: 500;
          margin-bottom: $s;
        }
      }
      position: relative;
      .controls {
        right: 0;
        height: 100%;
        padding: $xs;
        position: absolute;
        display: flex;
        flex-direction: column;

        button {
          font-weight: 600;
          justify-content: center;
        }

        button:not(:last-child) {
          margin-bottom: $s;
        }
        .preview {
          justify-self: flex-end;
          margin-top: auto;
        }
      }
    }

    .card.font-light {
      color: $text-alter;
      svg,
      button {
        color: $text-alter;
      }
    }
  }
}
