@import './shared';

main {
  padding: $m;
  display: flex;
  flex-direction: column;
  height: 100vh;

  h1.title {
    font-size: 2rem;
    margin-bottom: $s;
  }

  .message {
    font-size: 1.6rem;
    height: 100%;
    em {
      color: $primary;
      font-weight: 500;
    }
  }

  .controls {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    button {
      padding: $xs $m;
      border-radius: $br;
      transition: all 200ms ease-in-out;
    }
    button:hover {
      color: $text-alter;
      background-color: $primary;
    }
    button:not(:last-child) {
      margin-right: $m;
    }
  }

}