@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #adadad;
}

body {
  font-size: 1.4rem;
  letter-spacing: 0.025em;
  font-family: "Jost", sans-serif;
  background-color: #fefeff;
  color: #141414;
  border-radius: 5px;
}

h1,
h2 {
  font-size: 3rem;
  color: #141414;
}

button {
  outline: none;
  border: none;
  font-family: "Jost", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  font-size: 1.4rem;
  letter-spacing: 0.025em;
  cursor: pointer;
}

input {
  font-family: "Jost", sans-serif;
  letter-spacing: 0.025em;
}

a {
  text-decoration: none;
}

#title-bar {
  z-index: 1000;
  height: 32px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#title-bar #draggable {
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 8px);
  height: 24px;
  -webkit-app-region: drag;
}

#title-bar #draggable .title {
  color: #1b998b;
  font-size: 1.6rem;
  margin-left: 10px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title-bar #draggable .title svg {
  margin-right: 5px;
}

#title-bar .controls {
  height: 32px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title-bar .controls button {
  padding: 0 5px;
  color: #fefeff;
}

#title-bar.alter {
  background-color: #fefeff;
}

#title-bar.alter button {
  color: #141414;
}

::-webkit-scrollbar {
  width: 5px;
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
}

#preview {
  width: 100vw;
  height: calc(100vh - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141414;
}

#preview .content {
  overflow: auto;
}

#preview img {
  width: 100%;
  height: 270px;
  max-height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

#preview .details {
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  gap: 10px;
}

#preview .details .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

#preview .details .left img {
  margin-top: -100px;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(20, 20, 20, 0.16), 0 3px 6px rgba(20, 20, 20, 0.23);
          box-shadow: 0 3px 6px rgba(20, 20, 20, 0.16), 0 3px 6px rgba(20, 20, 20, 0.23);
}

#preview .details .left .url {
  color: #1b998b;
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid #2e2e2e;
}

#preview .details .right {
  padding: 20px 0;
  padding-right: 40px;
  color: #fefeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.6;
}

#preview .details .right .name {
  font-size: 3rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2e2e2e;
}

#preview .details .right .genres,
#preview .details .right .tags {
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#preview .details .right .genres span,
#preview .details .right .tags span {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #2e2e2e;
}

#preview .details .right .description {
  margin: 20px 0;
}
/*# sourceMappingURL=preview.css.map */