@import './shared';

#draggable {
  height: 32px;
  width: 100%;
  -webkit-app-region: drag;
}

main {
  padding: $m;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);

  h1.title {
    font-size: 2rem;
    margin-bottom: $s;
  }

  .message {
    font-size: 1.6rem;
    height: 100%;
    em {
      color: $primary;
      font-weight: 500;
    }
  }

  .controls {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    button {
      padding: $xs $m;
      border-radius: $br;
      transition: all 200ms ease-in-out;
    }
    button:hover {
      color: $text-alter;
      background-color: $primary;
    }
    button:not(:last-child) {
      margin-right: $m;
    }
  }

}